In [1]:
a=10
if a==10:
    print("gaurav sakpal")

gaurav sakpal

In [6]:
a=10
if a>12:
    pass

In [12]:
a=10
if a!=9:
    print("gauravsakpal")
else:
        print ("datascience")

gauravsakpal

In [21]:
a=10
if a>12:
    print('abc')
elif a<=11:
    print('def')
elif a<=10:
    print('ghi')
else:
    print('jkl')

def

In [27]:
l=[1,2,3,4,5,6,10]
if 1 in l:
    print('task perform')
elif 3 in l:
    print('gaurav sakpal')
else:
    print("dont perform")

task perform

In [35]:
b=int(input())
if b>40:
    print('gaurav')
elif b<35:
    print("sakpal")
elif b==60:
    print("datascience")
else:
    print("bigdata")

12
sakpal

In [2]:
m=int(input())
if m>600:
    print('GRE')
else:
    print ("no GRE")    
    if m<500:
        print("TOFEL")
    elif m<400:
        print ('try something else')
    else:
        print('bjb')

490
no GRE
TOFEL

In [60]:
val=float(input("enter number"))
if val>=0: 
    print('number is positive')
else:
    print('number is negative')
    if val==0:
        print('number is zero')
    else:
        print('number is positive')

enter number0
number is positive

In [65]:
a=15
if a<15 and a>15:
    print('gaurav sakpal')

In [67]:
d={'A':'12','B':'15','C':'20','D':'25'}

In [68]:
d

{'A': '12', 'B': '15', 'C': '20', 'D': '25'}

In [73]:
if d['A']=="12" and d['B']=="15" and d["C"]=='21' or d['D']=="25":
    print("all valid")
else:
    print('something is not valid')

all valid

In [9]:
l=[1,2,3,5,'gaurav',230.45,'gole',400.5,'snehal','sakpal']

In [30]:
l

[1, 2, 3, 5, 'gaurav', 230.45, 400.5]

In [11]:
for i in l:
    print(i)

1
2
3
5
gaurav
230.45
400.5

In [12]:
l

[1, 2, 3, 5, 'gaurav', 230.45, 400.5]

In [19]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type (i)==str:
        print(i+str(1))
    else:
        print(i+float(1.0))

2
3
4
6
gaurav1
231.45
401.5

In [25]:
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [26]:
l1

[1, 2, 3, 5, 230.45, 400.5]

In [5]:
l2=[1,2,3,5,'gaurav',230.45,'gole',400.5,'snehal','sakpal']

In [6]:
l2

[1, 2, 3, 5, 'gaurav', 230.45, 'gole', 400.5, 'snehal', 'sakpal']

In [7]:
l3=[]
for i in l2:
    if type(i)==str:
        l3.append(i)

In [8]:
l3

['gaurav', 'gole', 'snehal', 'sakpal']

In [14]:
l=[1,2,3,5,'gaurav',230.45,'gole',400.5,'snehal','sakpal']

In [15]:
l

[1, 2, 3, 5, 'gaurav', 230.45, 'gole', 400.5, 'snehal', 'sakpal']

In [24]:
for i in l:
    if type(i)==str:
        print(i)

gaurav
gole
snehal
sakpal

In [25]:
d={'A':'12','B':'15','C':'20','D':'25'}
d

{'A': '12', 'B': '15', 'C': '20', 'D': '25'}

In [30]:
for i in d:
    print(i)

A
B
C
D

In [53]:
for i in d:
    print(d[i])

12
15
20
25

In [31]:
s="gaurav rajendra sakpal"
s

'gaurav rajendra sakpal'

In [32]:
for i in s:
    print(i)

g
a
u
r
a
v

r
a
j
e
n
d
r
a

s
a
k
p
a
l

In [33]:
l

[1, 2, 3, 5, 'gaurav', 230.45, 'gole', 400.5, 'snehal', 'sakpal']

In [34]:
for i in l:
    if i=='gole':
        break
    print(i)

1
2
3
5
gaurav
230.45

In [35]:
for i in l:
    print(i)
else:
    print("stop exeution")

1
2
3
5
gaurav
230.45
gole
400.5
snehal
sakpal
stop exeution

In [54]:
for i in s:
    if i=="z" :
        break
    print(i)  
    
else:
    print("snehal",s)

g
a
u
r
a
v

r
a
j
e
n
d
r
a

s
a
k
p
a
l
snehal gaurav rajendra sakpal

In [55]:
range(9)

range(0, 9)

In [59]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [60]:
range(15,200)

range(15, 200)

In [63]:
for i in range(15,30):
    print(i)

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [65]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [81]:
n=6
for i in range(6):
    for j in range(i+1):
        print("gaurav",end=" ")
    print('\n')

gaurav

gaurav gaurav

gaurav gaurav gaurav

gaurav gaurav gaurav gaurav

gaurav gaurav gaurav gaurav gaurav

gaurav gaurav gaurav gaurav gaurav gaurav

In [101]:
n=3
for i in range(3):
    n=n-1
    print(" "*n, end="")
    for j in range(i+1):
        print("gaurav ", end="")
    print('\n')

  gaurav

 gaurav gaurav

gaurav gaurav gaurav

In [102]:
t=(3,4,54,68,151,69,154,48)
t

(3, 4, 54, 68, 151, 69, 154, 48)

In [9]:
t=(3,4,54,68,151,69,154,48)
for i in range(len(t)):
    print(i,":",t[i])

0 : 3
1 : 4
2 : 54
3 : 68
4 : 151
5 : 69
6 : 154
7 : 48

In [14]:
s="gauravsakpal"
for i in (range(len(s)-1,-1,-1)):
    print(i,":",s[i])

11 : l
10 : a
9 : p
8 : k
7 : a
6 : s
5 : v
4 : a
3 : r
2 : u
1 : a
0 : g

In [16]:
d={'A':'12','B':'15','C':'20','D':'25'}
d

{'A': '12', 'B': '15', 'C': '20', 'D': '25'}

In [25]:
for i in d.items():
    print(i, type(i))

('A', '12') <class 'tuple'>
('B', '15') <class 'tuple'>
('C', '20') <class 'tuple'>
('D', '25') <class 'tuple'>

In [27]:
l=[1, 2, 3, 5, 'gaurav', 230.45, 'gole', 400.5, 'snehal', 'sakpal']

In [31]:
for i in l:
    if type(i)==int:
        print(i)

1
2
3
5

In [33]:
for i in l:
    print(type(i)==int)
    print(i)

True
1
True
2
True
3
True
5
False
gaurav
False
230.45
False
gole
False
400.5
False
snehal
False
sakpal

In [34]:
d1={1:45644,"name":"hhj",5151:"hfhj","hvgty":16441,152:158}
d1

{1: 45644, 'name': 'hhj', 5151: 'hfhj', 'hvgty': 16441, 152: 158}

In [50]:
for i in d1.keys():
    if type(i)==int:
        print(i,":",d1[i])

1 : 45644
5151 : hfhj
152 : 158

In [50]:
s2="aaabbbbccccddddfffffffeeeeeeee"
type(s2)

str

In [63]:
for i in set(s2):
    print(i,":",s2.count(i))

f : 7
e : 8
a : 3
b : 4
d : 4
c : 4

In [3]:
i=165166184561864
type(i)

int

In [7]:
for j in str(i):
    print(int(j), type(int(j)))

1 <class 'int'>
6 <class 'int'>
5 <class 'int'>
1 <class 'int'>
6 <class 'int'>
6 <class 'int'>
1 <class 'int'>
8 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
1 <class 'int'>
8 <class 'int'>
6 <class 'int'>
4 <class 'int'>

In [83]:
t=("gaurav", "sakpal",(1,2,3,4,5,6),[15,3,3,4,46],{"key1":"gaurav","key2":"sakpal",3:3})
t

('gaurav',
 'sakpal',
 (1, 2, 3, 4, 5, 6),
 [15, 3, 3, 4, 46],
 {'key1': 'gaurav', 'key2': 'sakpal', 3: 3})

In [86]:
for i in t:
    if type(i)==tuple or type(i)==list:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3
3

In [63]:
i=4444885477772224999666333711
type(i)

int

In [64]:
str(i)
s3=(str(i))
type(s3)

str

In [65]:
set(s3)

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [66]:
for j in set(s3):
    print(j,':',s3.count(j))

9 : 3
6 : 3
4 : 6
8 : 2
3 : 3
1 : 2
7 : 5
2 : 3
5 : 1

In [87]:
d={"key1":"gaurav","key2":"sakpal",3:3}
d

{'key1': 'gaurav', 'key2': 'sakpal', 3: 3}

In [90]:
for i,j in d.items():
    print(i)

key1
key2
3

In [89]:
d.items()

dict_items([('key1', 'gaurav'), ('key2', 'sakpal'), (3, 3)])

In [91]:
d.keys()

dict_keys(['key1', 'key2', 3])

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [95]:
n = 5
for i in range(n):
    for j in range(n - i):
        print('ineuron', end=' ')
    for k in range(2 * i):
        print(end=' ')
    print()

ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron
ineuron

In [104]:
n=4
for i in range(4):
    for j in range(i+1):
        print("ineuron" , end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [159]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(end="   ")
    for k in range(i+1):
        print("ineuron", end=" ")
    print()

         ineuron
      ineuron ineuron
   ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [173]:
rows = 2
k = 2 * rows - 2  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end="   ")  
    k = k - 1  
    for j in range(0, i + 1):  
        print("ineuron", end=" ")  
    print("")  
k = rows - 2  
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end="   ")  
    k = k + 1  
    for j in range(0, i + 1):  
        print("ineuron", end=" ")  
    print("")

      ineuron
   ineuron ineuron
ineuron ineuron ineuron
   ineuron ineuron
      ineuron

In [174]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [175]:
#Try to extract all the list entity
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [176]:
#Try to extract all the dict enteties
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [177]:
#Try to extract all the tuples entities
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [189]:
#Try to extract all the numerical data it may b a part of dict key and values 
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set or type(i)==dict:
        for j in i:
            if type(j)==int:
                print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7

In [227]:
#Try to give summation of all the numeric data 
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set or type(i)==dict:
        for j in i:
            if type(j)==int:
                list [j]
                print(i.add())

AttributeError: 'list' object has no attribute 'add'

In [212]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if k==list(j):
                    print(k.remove(1,3))

TypeError: 'int' object is not iterable

In [219]:
#Try to extract "ineruon" out of this data
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [226]:
for i in l:
    if type(i)==list:
        for j in i:
            if j=="ineuron":
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k=="ineuron" or v=="ineuron":
                print(v)

ineuron
ineuron

In [236]:
s4=set(l)

TypeError: unhashable type: 'list'

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [15]:
str(l)

"[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]"

In [16]:
s5=set(str(l))

In [17]:
s5

{' ',
 "'",
 '(',
 ')',
 ',',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 ':',
 '[',
 ']',
 'a',
 'c',
 'd',
 'e',
 'h',
 'i',
 'k',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'u',
 '{',
 '}'}

In [19]:
for i in s5:
    print(i, ':', str(l).count(i))

  : 31
] : 3
n : 5
, : 24
) : 2
2 : 4
m : 1
c : 2
a : 3
i : 3
1 : 2
[ : 3
r : 3
h : 1
: : 5
o : 2
s : 2
' : 16
8 : 1
7 : 2
4 : 5
t : 1
u : 4
e : 4
{ : 2
d : 2
k : 4
3 : 6
6 : 3
} : 2
( : 2
5 : 4

In [20]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [25]:
for i in l:
    if type(i)==dict:
        for j in i.keys():
            print(j)

k1
k2
k3
3
7

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [10]:
for i in l:
    for j in i:
        if type(j)==str:
            print(j)
if type(i)==dict:
    for k,v in i.items():
        if v==str:
            print(v)

k1
k2
k3
ineuron
data science

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [11]:
#Try to Find  out alphanum in data
str(l)

"[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]"

In [12]:
str(l).isalnum()

False

In [13]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [23]:
for i in l:
    if type(i)==list:
        for j in i:
            if j==1 or j==3:
                print(i.remove(j))
                print(l)

In [24]:
l

[[2, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['data science ']]

In [25]:
def flatten_list(_2d_list):
    flat_list = []
    # Iterate through the outer list
    for element in _2d_list:
        if type(element) is list:
            # If the element is of type list, iterate through the sublist
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

nested_list = [[2, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['data science ']]
print('Original List', nested_list)
print('Transformed Flat List', flatten_list(nested_list))

Original List [[2, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {5, 4, 45, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['data science ']]
Transformed Flat List [2, 4, (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {5, 4, 45, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, 'data science ']

In [ ]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]